.testimonialsContainer h2 {
 font-size: 38px;
 font-weight: 700;
 font-family: 'Lato';
 color: rgba(3, 16, 26, 1);

 display: flex;
 align-items: center;
 justify-content: center;
 /* flex-direction: column; */

   margin: 50px;
   padding-top: 50px;
}

.testimonialsItems {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 250px;
  min-height: 250px;
  /* flex-direction: row; */

  margin: 50px;
  padding-bottom: 80px; 
  gap: 50px;
}